*{margin: 0; padding: 0;}
html {
	font-size: 62.5%;
}
body {
	font-family:"微软雅黑";
}
ul,li{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
dl,dt,dd{
	margin: 0px;
	padding: 0px;
	text-shadow: none;
}
a{
	text-decoration: none;
	outline: 0;
	outline: expression(this.hideFocus=true);
}
input,select{
	outline: 0;
	outline: expression(this.hideFocus=true);
}

/* section */
.section {
	width: 100%;
	margin: 0 auto;
}
.section h1{
	text-align: center;
	font-size: 32px;
	font-size: 3.2rem;
	color: #ffffff;
}
.section h1 p{
	margin-bottom: -5px;
}
.section h1 span{
	font-size: 20px;
	font-size: 2.0rem;
	font-weight: normal;
	display: inline-block;
    padding: 0px 10px 5px 10px;
    border-bottom: 5px solid #C92867;
}
/* header头部 */
.header{
	width: 80%;
	height: 60px;
	padding: 15px 10%;	
	background-color:#006594;
	position: fixed;
	top: 0; left: 0;
	z-index: 999;
}
.logoImg{
	width: 175px;
	height: 60px;
	line-height: 60px;
	float: left;
	position: relative;
}
.logoImg a{
	display: inline-block;
	width: 80px;
	height: 60px;
	position: absolute;
	top: 0;	
}
.logoImg a.dell_logo{
	left: 0;
}
.logoImg a.intel_logo{
	right: 0;
}
.nav{
	width: 75%;
	float: right;
	display: inline-block;
}
.nav ul li {
	display: inline-block;
	width: 16.6%;
	margin:0px;
	float: left;
	text-align:right;
}
.nav ul li:last-child{
	width: 15%;
}
.nav ul li a {
	color: #ffffff;
	line-height: 60px;
	display: inline-block;
	white-space: nowrap;	
	font-size: 20px;
	font-size: 2.0rem;
}
.nav ul li.current a {
	border-bottom: 4px solid #c92867;
}

.banner{
	width: 100%;
	margin-top: 60px;
	position: relative;
}
.banner img{
	width: 100%;
}
.banner .canHui{
	position: absolute;
	bottom: 0; left: 8%;
	width: 46%;
	text-align: center;	
}
.banner .canHui a{
	display: inline-block;
	width: 250px; height: 60px;
	line-height: 60px;
	background: url(../images/img/button.png) 0 0 no-repeat;
	background-size:100% 100%;
	font-size: 18px;
	font-size: 1.8rem;	
	color: #c92767;
	margin-bottom: 40px;
	margin-top: 5px;
}
.banner .canHui p{
	font-size: 18px;
	font-size: 1.8rem;
	color: #666666;
	padding: 3px 0px;
	margin-bottom: 5px;
}
.banner .sanjiao_left,
.banner .sanjiao_right{
	position: absolute;	
	bottom: -305px;
}
.banner .sanjiao_left img,
.banner .sanjiao_right img{
	width: 100%;
}
.banner .sanjiao_left{
	width: 30%;
	left: 0;
}
.banner .sanjiao_right{
	width: 40%;
	right: 0;
}


.footer{
	width: 100%;
	padding: 2% 0px;
	background: #333333;
	margin-top: 70px;
	text-align: center;
}
.footer p{
	width: 80%;
	padding: 3px 10%;
	font-size: 16px;
	font-size: 1.6rem;
	color: #ffffff;
}
