*{
	padding: 0;
	margin: 0;
}
body{
	font-family: "Microsoft YaHei";
}
.all{
	margin: auto;
	width: 1350px;
	overflow: hidden;
	height: 3300px;
	/*background: blue;*/
}
.top{
	height: 55px;
	width: 1350px;
	background: rgba(0,0,0,0.4);
	/*opacity: 0.5;*/
	position: fixed;
	z-index: 2;
}
.logo{
	width: 90px;
	height: 55px;
	background: url(../image/gaiw.png) 0px -16px no-repeat;
	background-size: 100%;
	position: absolute;
	left: 100px;
}
.top span{
	color: white;
	font-size: 14px;
	position: relative;
	left: 200px;
	line-height: 55px;
	font-weight: normal;
	letter-spacing: 2px;
}
#nav{
	position: absolute;
	left: 50px;
	top: 0px;
}
#nav span{
	color: white;
	float: left;
	margin-left: 10px;
	cursor: pointer;
	display: inline-block;
	width: 90px;
	text-align: center;
}
#nav span a{
	color: white;
	float: left;
	/*margin-left: 10px;*/
	cursor: pointer;
	display: inline-block;
	width: 90px;
	text-align: center;
	text-decoration: none;
}
#nav span:hover{
	/*font-size: 16px;
*/	font-weight: normal;
	background: rgba(176,7,14,0.6);
}
.text{
	position: absolute;
	top: 20px;
	left: 1090px;
	width: 150px;
}
.button{
	position: absolute;
	top: 20px;
	left: 1250px;
	font-size: 10px;
	width: 30px;
	height: 19px;
}
#outer{
	overflow: hidden;
	/*width: 1350px;*/
}
#bg{
	/*position: relative;*/
	/*margin: auto;*/
}
#inner{
	/*overflow: hidden;*/
	/*width: 8094px;*/
}
#inner img{
	float: left;
	width: 1350px;
}
#btn{
	/*overflow: hidden;*/
	position: relative;
	width: 105px;
	margin: -50px auto;
}
#btn span{
	width: 5px;
	height: 5px;
	margin-left: 10px;
	background: white;
	border-radius: 50%;
	display: inline-block;
}
#btn_l,#btn_r{
	width: 70px;
	height: 70px;
	opacity: 0.7;
	cursor: pointer;
}
#btn_l{
	position: relative;
	top: -300px;
	left: 50px;
	background: url(../image/left.png) 0px 0px no-repeat;
}
#btn_r{
	position: relative;
	top: -370px;
	left: 1250px;
	background: url(../image/right.png) 0px 0px no-repeat;
}
#inner dl{
	width: 1350px;
	float: left;
	position: relative;
}
#inner dd{
	position: absolute;
	top: 100px;
	left: 150px;
	width: 450px;
	height: 200px;
	background: rgba(0,0,0,0.4);
}
#inner div{
	position: absolute;
	top: 140px;
	left: 125px;
	width: 200px;
	height: 30px;
	/*background: yellow;*/
	color: white;
	font-style: italic;
	border: 1px solid white;
	text-align: center;
	line-height: 30px;
}
#inner div:hover{
	background: rgba(0,0,0,0.7);
}
dd h2,tt{
	text-decoration: none;
}	
dd h2{
	font-size: 35px;
	font-style: italic;
	font-weight: lighter;
	color: white;
	line-height: 100px;
	position: absolute;
	left: 20px;
}	
tt{
	font-size: 15px;
	/*font-style: italic;*/
	font-weight: lighter;
	color: white;
	line-height: 100px;
	position: absolute;
	left: 20px;
	top: 50px;
}
/*.middle{
	overflow: hidden;
}*/
#ding{
	margin: 30px auto;
	width: 804px;
}
#jiantou{
	position: absolute;
	top: 643px;
	z-index: 1;
}
#ding li{
	float: left;
	list-style: none;
	background: rgb(42,42,42);
	color: white;
	/*position: relative;*/
	/*left: 300px;*/
	top: 20px;
	margin-left: 1px;
	width: 200px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-weight: 100;
	font-size: 13px;
	letter-spacing: 2px;
	/*font-weight: lighter;*/
}
#jiantou1{
	width: 0px;
	position: relative;
	top: 70px;
	left: 365px;
	border: 10px solid transparent;
	border-top: 8px solid rgb(91,91,91);
}
#jiantou2{
	width: 0px;
	position: relative;
	top: 52px;
	left: 566px;
	border: 10px solid transparent;
	border-top: 8px solid rgb(91,91,91);
}
#jiantou3{
	width: 0px;
	position: relative;
	top: 34px;
	left: 767px;
	border: 10px solid transparent;
	border-top: 8px solid rgb(91,91,91);
}
#jiantou4{
	width: 0px;
	position: relative;
	top: 16px;
	left: 968px;
	border: 10px solid transparent;
	border-top: 8px solid rgb(91,91,91);
}
#hengxl,#hengxr{
	width: 45%;
	border: 1px solid gray;
}
#hengxl{
	margin-top: 52px;
	margin-left: 50px;
}
#hengxr{
	margin-left: 885px;
	margin-top: -25px;
}
#xinghao1{
	font-size: 40px;
	margin-top: -30px;
	margin-left: 600px;
	font-style: italic;
	font-weight: lighter;
}
#xinghao2{
	font-size: 40px;
	margin-top: -30px;
	margin-left: 630px;
	font-style: italic;
	font-weight: lighter;
}
#xinghao3{
	font-size: 40px;
	margin-top: -30px;
	margin-left: 570px;
	font-style: italic;
	font-weight: lighter;
}
#xinghao4{
	font-size: 40px;
	margin-top: -30px;
	margin-left: 590px;
	font-style: italic;
	font-weight: lighter;
}
#hengxian{
	margin-top: -53px;
	width: 900px;
}
#hengx{
	position: absolute;
	top: 770px;
	width: 1500px;
}
#di{
	width: 100%;
}
#di div{
	/*background: yellow;*/
	width: 100%;
	/*height: 1200px;*/
	position: relative;
	/*margin-top: 70px;*/
}
.jian1{
	background: rgb(240,240,240);
	width: 1350px;
	height: 450px;
	position: absolute;
	top: 813px;
}
.jian2{
	background: white;
	width: 1350px;
	height: 450px;
	position: absolute;
	top: 1263px;
}
.jian3{
	background: rgb(240,240,240);
	width: 1350px;
	height: 450px;
	position: absolute;
	top: 1713px;
}
.jian1 img{
	width: 622px;
	height: 376px;
	position: absolute;
	left: 50px;
	top: 40px;
	z-index: 1;
}
.jian2 img{
	width: 622px;
	height: 376px;
	position: absolute;
	left: 665px;
	top: 40px;
	z-index: 1;
}
.jian3 img{
	width: 622px;
	height: 376px;
	position: absolute;
	left: 50px;
	top: 40px;
	z-index: 1;
}
.jian1 h1{
	z-index: 1;
	position: absolute; 
	left: 750px;
	top: 100px;
	font-style: italic;
	font-weight: 100;
	width: 600px;
	font-size: 32px;
}
.jian1 p{
	z-index: 1;
	position: absolute; 
	left: 750px;
	top: 170px;
	font-weight: lighter;
	line-height: 30px;
	width: 550px;
}
.jian2 h1{
	z-index: 1;
	position: absolute; 
	left: 40px;
	top: 100px;
	font-style: italic;
	font-weight: 100;
	font-size: 32px;
}
.jian2 p{
	z-index: 1;
	position: absolute; 
	left: 40px;
	top: 170px;
	font-weight: 1000;
	line-height: 30px;
	width: 550px;
}
.jian3 h1{
	z-index: 1;
	position: absolute; 
	left: 750px;
	top: 100px;
	font-style: italic;
	font-weight: 100;
	font-size: 32px;
}
.jian3 p{
	z-index: 1;
	position: absolute; 
	left: 750px;
	top: 170px;
	font-weight: lighter;
	line-height: 30px;
	width: 550px;
}
#tops{
	background: url(../image/top.png) -179px -193px no-repeat;
	width: 49px;
	height: 49px;
	position: fixed;
	bottom: 100px;
	right: 10px;
	z-index: 1;
}
#show3{
	position: relative;
	width: 100%;
	top: 1500px;
	/*left: 500px;*/
	height: 200px;
}
#show31 li{
	width: 150px;
	height: 150px;
	list-style: none;
	margin-left: 50px;
	float: left;
	border-radius: 50%;
}
#show31{
	margin: auto;
	width: 89%;
	height: 210px;
}
#show32{
	margin: auto;
	width: 89%;
	height: 40px;
}
.oneli{
	margin-left: 130px;
}
#show32 li{
	width: 150px;
	height: 20px;
	list-style: none;
	margin-left: 50px;
	float: left;
	text-align: center;
	font-size: 20px;
	/*font-weight: bold;*/
}
#show30{
	width: 1350px;
	height: 400px;
}
#show30 li{
	width: 665px;
	height: 180px;
	/*background: red;*/
	float: left;
	list-style: none;
	margin-top: 5px;
}
.ml{
	margin-left: 20px;
}
#show30 div{
	width: 250px;
	height: 150px;
	background: yellow;
	margin-left: 10px;
	margin-top: 15px;
}
#show30 ul{
	width: 400px;
	height: 150px;
}
#show30 .ss1 span,#show30 .ss2 span,#show30 .ss3 span,#show30 .ss4 span{
	/*margin-top: 10px; */
	width: 400px;
	height: 20px;
	/*background: green;*/
	position: relative;
	left: 270px;
	top: -150px;
	font-size: 14px;
	display: inline-block;
}
.ss1 h4{
	margin-left: 80px;
}
.ss2 h4{
	margin-left: 90px;
}
.ss3 h4{
	margin-left: 100px;
}
.ss4 h4{
	margin-left: 120px;
}
.add{
	width: 1350px;
	height: 200px;
	position: absolute;
	top: 2850px;
	background: rgb(240,240,240);
}
.add h1{
	text-align: center;
	font-weight: lighter;
	font-style: italic;
	margin-top: 20px;
}
.add p{
	text-align: center;
	margin-top: 5px;
}
.add select,.add input{
	width: 218px;
	height: 30px;
	margin-top: 30px;
}
.bottom{
	width: 1350px;
	height: 300px;
	position: absolute;
	top: 3050px;
	background: rgb(34,34,34);
}
.blogo{
	width: 180px;
	height: 110px;
	background: url(../image/gaiw.png) 0px -16px no-repeat;
	background-size: 100%;
	position: absolute;
	left: 580px;
	top: 20px;
}
.bottom span{
	color: white;
	font-size: 15px; 
	margin-left: 10px;
}
.gsg{
	position: absolute;
	top: 200px;
	left: 420px;
}
.gsga{
	position: absolute;
	top: 230px;
	left: 280px;
}
