*{
	margin: 0px;
	padding: 0px;
}
a{
	text-decoration: none;
	font-size: 14px;
	color: black;
}
ul{
	list-style: none;
}
.body{
	width: 1920px;
	height: 9720px;
	background-color: blue;
	float: 50%;
	font-family:"Gabriola" ;
}
.up{
	width: 47px;
	height: 47px;
	border-radius: 8px;
	background-color: #de5749;
	float: right;
	margin-right: 16px;
	position: fixed;
	top: 900px;
	left: 1860px;
	z-index: 20;
	/*background: url(images/up-arrow.png) no-repeat;*/
}
.position{
	position: absolute;
	top: 12px;
	left: 9px;
}
.anniu{
	/*height:100px;*/
	width: 20px; 
	position: fixed;
	left: 1860px;
	top: 350px;
	z-index: 22;
	/*background-color: #555;*/
}
.anniu li{
	width: 20px;
	height: 20px;
	margin-top: 5px;
}
.anniu li a:{
	width: 20px;
	height: 20px;
}
.anniu img:hover{
	opacity: 0.5
}
.top{
	width: 1920px;
	height: 80px;
	background-color: white;
}
.nav{	
	width: 1060px;
	height: 80px;
	margin: auto;
	position: relative;
	z-index: 11;
}
.nav li{
	float: left;
	height: 80px;
	line-height: 80px;
	margin-right: 27px;
}
.nav li a{
	color: #919191;
	font-weight: 600;
	font-size: 20px;
}
.nav li a:hover:{
	color: red;
}
.top_mid{
	width: 400px;
	margin-top: 80px;
	position: relative;
}
.top_pic{
	width: 400px;
	position: absolute;
	z-index: 10;
}
.top_pic2{
	position: absolute;
	z-index: 10;
	width: 400px;
	margin-top: 5px;
	opacity: 0.7;
}
.top_pic_txt{	
	position: absolute;
	z-index: 11;
	margin-left: 120px;
	margin-top: -28px;
	display: inline-block;
}
.page{
	/*overflow: hidden;*/
}
.page1_bg{
	height: 1125px;
	width: 1920px;
	background: url(images/banner.png) no-repeat;
	background-size: 1920px 1125px;	
	margin-top: -130px;
	position: relative;
	z-index: 10;
	overflow: hidden;
	top: -80px;


}
.redblock{
	margin: 130px auto;
	width: 855px;
	height: 190px;
	background-color: #cb605f;
	border-radius: 5px;
	font-family:"Gabriola" ;
	color: white;
	text-align: center;
} 	
.redblock h2{
	font-size: 50px;
	margin-top: 30px;
}
.redblock p{
	font-size:26px;
	line-height: 30px;
	display: block;
	width: 720px;
	margin: -10px auto;
}
.phone{
	height:623px;
	width: 378px;
	margin: 80px auto;
	/*position: relative;*/
}
.phone_left,.phone_right{
	width: 270px;
	height: 110px;
	position: absolute;
}
.phone_left{
	left: 440px;
	top: 610px;
	background: url(images/download.png) no-repeat;
}
.phone_left:hover{
	background: url(images/learn.png) no-repeat;
}
.phone_right{
	left: 1200px;
	top: 610px;
	background: url(images/learn.png) no-repeat;
}
.phone_left p,.phone_right p{
	text-align: center;
	margin-top: 28px;
	font-size: 28px;
	color: white;
}
.phone_left p a,.phone_right p a{
	font-size: 28px;
	color: white;
}
.page2{
	width: 1920px;
	height: 1350px;
	background: url(images/feature-banner.png) no-repeat;
	background-size: 1920px 1350px;	
	margin-top: -180px;
	overflow: hidden;
	color: white;
}
.title{
	width: 810px;
	height: 115px;
	margin: auto;
	text-align: center;
	margin-top: 230px;
}
.title h2{
	font-size: 65px;
}
.title p{
	font-size:26px;
	margin-top: -20px;
}
.page2_txt{
	width: 1115px;
	height: 725px;
	margin: 95px auto;
}
.page2_txt dl{
	width: 545px;
	height: 200px;
	float: left;
	color: white;
	margin-bottom: 60px;
	/*background-color: #555;*/
}
.page2_txt dt{
	float: left;
	height: 200px;
}
.page2_txt h2{
	font-size: 50px;

}
.page2_txt dd{
	/*float: left;*/
	font-size:24px;
	width: 450px;
	margin-left: 88px;
	line-height: 23px;
	margin-top: 14px;
}
.page3{
	width: 1920px;
	height: 1330px;
	background: url(images/ns-banner.jpg) no-repeat;
	background-size: 1920px 1315px;	
	margin-top: -70px;
	overflow: hidden;
	background-color: #555;
}
.page3_up{
	width: 810px;
	height:125px;
	margin: 145px auto;
	/*background-color: #555;*/
	color: white;
	text-align: center;
}
.page3_up h2{
	font-size: 58px;
	font-weight: normal;
}
.page3_up p{
	font-size: 24px;
	line-height: 23px;
	margin-top: 0px;
}
.email{
	width: 800px;
	height: 280px;
	background: url(images/download.png) no-repeat;
	background-size: 800px 215px;
	margin: 0px auto;
}
.inputword{
	width: 800px;
	height: 60px;
	border: none;
	outline: none;
	color: white;
	font-size: 50px;
	text-align: center;
	background-color: transparent;
	margin-top: 73px;
}
.inputbutton{
	width: 205px;
	height: 112px;
	background: url(images/subscribe.png) no-repeat;
	/*background-size: */
	color: #d34f42;
	font-size: 26px;
	text-align: center;
	border: none;
	outline: none;
	margin-left: 297px;
	margin-top: 20px;
	cursor: pointer;
}
.man{
	width: 900px;
	height: 470px;
	background-color: #999;
	margin:-310px auto;
	background: url(images/slide-back.png) no-repeat;
	background-position: 0px 170px;
	background-size: 830px 215px;
}
.man ul{
	margin-top: -155px;
	margin-left: 20px;
	height: 210px;
	width: 830px;

}
.man li{
	float: left;
	overflow: hidden;
	/*background-color: #999;*/
}
.mantxt{
	width: 900px;
	height: 160px;
	margin-top: 380px;
	color: white;

}
.mantxt h2{
	font-size: 50px;
	text-align: center;
}
.mantxt p{
	font-size: 24px;
	text-align: center;

}
.manpic{
	margin-top: 185px;
	margin-left: 235px;
}
.leftarrow,.rightarrow{
	width: 30px;
	height: 33px;
	margin-top: 255px;
}
.leftarrow{
	margin-left: 50px;
}
.rightarrow{
	margin-left: 235px;
}
.page4{
	height: 1150px;
	width: 1920px;
	background-color: #f7f7f7;
	margin-top: -15px;
	overflow: hidden;
}
.page4_up{
	width: 810px;
	height:125px;
	margin: 60px auto;
	/*background-color: #555;*/
	color: white;
	text-align: center;
}
.page4_up h2{
	font-size: 58px;
	font-weight: normal;
	color: #de5749;
}
.page4_up p{
	font-size: 24px;
	line-height: 23px;
	margin-top: 0px;
	color: #a6a6a6;
}
.page4_mid ul{
	height: 195px;
	width: 540px;
	padding-right: 35px;
	margin-bottom: 55px;
	float: left;
}
.page4_mid{
	height: 645px;
	width: 1150px;
	margin: 100px 490px;
	/*background-color: #555;*/
}
.page4_mid li{
	color: #de5749;
}
.page4_mid_bgc{
	height: 65px;
	width: 175px;
	/*font-size: 26px;*/
	text-align: center;
	background: url(images/subscribe.png) no-repeat;
	background-size: 175px 65px;
}
.page4_mid_bgc p{
	line-height: 65px;
	font-size: 44px;
}
.page4_mid_txt{
	font-size: 24px;
	line-height: 30px;
	margin-top: -10px;
}
.page4_mid h3{
	font-size: 36px;

}
.page5{
	width: 1920px;
	height: 1030px;
	background-color: #df5749;
	overflow: hidden;
}
.page5_up{
	width: 810px;
	height:125px;
	margin: 100px auto;
	
	color: white;
	text-align: center;

}
.page5_up h2{
	font-size: 58px;
	font-weight: normal;
	color: white;
}
.page5_up p{
	font-size: 24px;
	line-height: 23px;
	margin-top: 0px;
	color: white;
}
.page5_mid{
	height: 510px;
	width: 1120px;
	margin-top: 150px;
	margin: auto;
}
.page5_mid ul{
	margin-top: 50px;
	height: 410px;
	width: 260px;
	background-color: #ffffff;
	float: left;
	margin-right: 20px;
}
.page5_mid ul:hover{
	height: 510px;
	margin-top: 0px;
}
.page5_mid li:hover{
	height: 65px;
	line-height: 65px;
}
#page5_mid_bg{
	margin-top: 40px;
	width: 260px ;
	height: 110px;
	color: white;
	background: url(images/learn.png) -25px no-repeat;
	background-size: 320px 100px;
	line-height: 30px;
}
#page5_mid_bg p{
	display: inline-block;
	margin-top: 20px;
}
.page5_mid li{
	height: 45px;
	width: 260px;
	border-bottom: 1px solid #efefef;
	line-height: 45px;
	color: #de5749;
	font-weight: 800;
	text-align: center;
	font-size: 26px;
}
