*{
	margin: 0px;
	padding: 0px;
}
a{
	text-decoration: none;
	color: black;
}
ul{
	list-style: none;
}
.all{
	height: 100%;
	width: 100%;
}
.content{
	width: 1200px;
	height: 900px;
	margin: 0 auto;
}
.top{
	width: 1200px;
	height: 20px;
	background-color: black;
}
.logo{
	width: 1200px;
	height: 180px;
	position: relative;
	overflow: hidden;
	background-color: #eff5fa;

}
.search{
	width: 410px;
	height: 40px;
	position: absolute;
	top: 0px;
	left: 730px;
	float: right;
	background-color: #dfe2e5;
}
.search input{
	margin-top: 5px;
	border: 0px;

}
 .search .inp_t{
	width: 190px;
	height: 30px;
	background-color: #e7eaec;
	float: left;
	margin-left: 20px;
	border-top: 1px solid gray;
}
.inp_b{
	width: 30px;
	height: 30px;
	background-color: #9ea0a1;
	color: white;
	border: 0px;
	float: left;
}
.logn, .logn a{
	color: #787273;
	line-height: 40px;
	font-size: 14px;
}
.logn{
	margin-left: 45px;
	float: left;
}
.log{
	width: 1000px;
	height: 100px;
	margin: 57px auto;
	box-shadow: 0px 2px 3px #c9ced3;
}
.nav{
	height: 52px;
	width: 1200px;
	background: url(images/nav.png);
}
.nav ul{
	margin-left: 65px;
}
.nav li{
	width: 117px;
	float: left;
	text-align: center;
	box-shadow: 1px 0px 2px #727272;
	cursor: pointer;
}
.nav li a{
	color: white;
	font-size: 16px;
	line-height: 52px;
	font-family: "微软雅黑";
}
.nav li:hover{
	background: url(images/tb.png) no-repeat;
	cursor: pointer;
}
.bd{
	height: 790px;
	width: 1200px;
	background-color: #f3e5d6;
	position: absolute;
}
.bd div{
	border-radius: 5px;
}
.bd img{
	border-radius: 5px;
}
.pic1{
	position: absolute;
	top: 300px;
	left: 350px;
	width: 235px;
	height: 150px;
	box-shadow: -1px 3px 9px #333333;
	background-color: white;
	z-index: 11;
	border-radius: 5px;
}
.til{
	width: 290px;
	height: 130px;
	position: absolute;
	top: 130px;
	left: 260px;
	background-color: #646;
	color: #f0810b;
}
.txt1{
	position: absolute;
	top: 110px;
	width: 235px;
	height: 40px;
}
.txt1 span{
	line-height: 40px;
}
.txt1_1{
	position: absolute;
	top: 0px;
	left: 15px;
	color: #d1d1d1;
}
.txt1_2{
	position: absolute;
	top: 0px;
	left: 130px;
	color: #f2912a;
	font-size: 16px;
	font-family: "Microsoft YaHei";
}
.pic2{
	position: absolute;
	top: 420px;
	left: 250px;
	width: 300px;
	height: 170px;
	box-shadow: -1px 3px 9px #333333;
	background-color: white;
	z-index: 10;
}
.pic2_2{
	width: 300px;
	height: 125px;
}
.txt2 span{
	line-height: 45px;
}
.txt2_1{
	position: absolute;
	top: 0px;
	left: 15px;
	color: #d1d1d1;
}
.txt2_3{
	color: #f2912a;
}
.txt2_2{
	position: absolute;
	top: 0px;
	left: 75px;
	color: black;
	font-size: 16px;
	font-family: "Microsoft YaHei";
}
.txt2{
	position: absolute;
	top: 125px;
	width: 300px;
	height: 45px;
}
.line{
	position: absolute;
	top: 155px;
	left: 630px;
	width: 4px;
	height: 630px;
	background-color: #e47d0e;
}
.point1{
	position: absolute;
	top: 353px;
	left: 619px;
	width: 27px;
	height: 27px;
}
.pic3{
	width: 330px;
	height: 210px;
	position: absolute;
	top: 210px;
	background-color: white;
	left: 695px;
	box-shadow: -2px 2px 9px #333333;
}
.pic3_1{
	width: 330px;
	height: 155px;
}
.txt3_1{
	position: absolute;
	top: 0px;
	left: 15px;
	color: #d1d1d1;
	margin-left: 240px;
}
.txt3_3{
	color: #f2912a;
}
.txt3_2{
	position: absolute;
	top: 0px;
	left: 75px;
	color: black;
	font-size: 16px;
	margin-left: -50px;
	font-family: "Microsoft YaHei";
}
.txt3{
	position: absolute;
	top: 155px;
	width: 330px;
	height: 55px;
}
.txt3 span{
	line-height: 55px;
}
.pic4{
	width: 390px;
	height: 205px;
	position: absolute;
	background-color: white;
	top: 490px;
	left: 650px;
	box-shadow: -2px 2px 9px #333333;
}
.pic4_1{
	width: 390px;
	height: 160px;
}
.txt4_1{
	position: absolute;
	top: 0px;
	left: 15px;
	color: #d1d1d1;
	margin-left: 290px;
}
.txt4_3{
	color: #f2912a;
}
.txt4_2{
	position: absolute;
	top: 0px;
	left: 75px;
	color: black;
	font-size: 16px;
	margin-left: -50px;
	font-family: "Microsoft YaHei";
}
.txt4{
	position: absolute;
	top: 160px;
	width: 390px;
	height: 45px;
}
.txt4 span{
	line-height: 45px;
}
.sj1{
	position: absolute;
	top: 425px;
	left: 585px;
	border: 7px solid transparent ;
	border-left: 7px solid white;
	z-index: 13;
}
.sj2{
	position: absolute;
	top: 550px;
	left: 550px;
	border: 7px solid  transparent;
	border-left: 7px solid white;
	z-index: 13;
}
.sj3{
	position: absolute;
	top: 375px;
	left: 676px;
	border: 10px solid transparent;
	border-right: 10px solid white;
	z-index: 13;
}
.sj4{
	position: absolute;
	top: -40px;
	left: 369px;
	border: 40px solid  transparent;
	border-bottom: 40px solid  #eff5fa;
}
.sj5{
	position: absolute;
	top: 0px;
	left: -40px;
	border: 40px solid #eff5fa;
	border-left: 40px solid transparent;
	border-bottom: 40px solid transparent;
	border-right:  40px solid transparent;
}